{"openapi": "3.0.0", "info": {"version": "orders", "title": "Orders API"}, "paths": {"/api/Orders/GetOpenOrders": {"post": {"tags": ["Orders"], "summary": "GetOpenOrders", "description": "Get a paged list of open orders\n<b>Permissions Required: </b> GlobalPermissions.OrderBook.OpenOrdersNode\n<b>Rate limit: </b><span style=\"background-color:#0272d9;color:white;padding:4px 8px;text-align:center;border-radius:5px; font-size: small;\"><b>250</b></span> / minute", "operationId": "GetOpenOrders", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Orders_GetOpenOrdersRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GenericPagedResult_OpenOrder"}}, "text/json": {"schema": {"$ref": "#/components/schemas/GenericPagedResult_OpenOrder"}}, "application/xml": {"schema": {"$ref": "#/components/schemas/GenericPagedResult_OpenOrder"}}, "text/xml": {"schema": {"$ref": "#/components/schemas/GenericPagedResult_OpenOrder"}}}}}, "security": [{"token": ["token"]}]}}}, "servers": [{"url": "https://eu-ext.linnworks.net"}], "components": {"securitySchemes": {"token": {"type": "apiKey", "description": "Authorization Header", "name": "Authorization", "in": "header"}}, "schemas": {"OrderGeneralInfo": {"description": "Order General Info class", "type": "object", "properties": {"Status": {"format": "int32", "description": "Order Status (0 = UNPAID, 1 = PAID,2 = RETURN,3 = PENDING,4 = RESEND)", "type": "integer"}, "LabelPrinted": {"description": "Is label printed", "type": "boolean"}, "LabelError": {"description": "Is there a label error", "type": "string"}, "InvoicePrinted": {"description": "Is invoice printed", "type": "boolean"}, "InvoicePrintError": {"description": "Is there invoice print error", "type": "string"}, "PickListPrinted": {"description": "Is pick list printed", "type": "boolean"}, "PickListPrintError": {"description": "Is there pick list print error", "type": "string"}, "IsRuleRun": {"description": "If rules engine rule ran on an order", "type": "boolean"}, "Notes": {"format": "int32", "description": "Quantity of order notes", "type": "integer"}, "PartShipped": {"description": "If order partly shipped", "type": "boolean"}, "Marker": {"format": "int32", "description": "Order marker (0 = NOT TAG,1 = Tag 1,2 = Tag 2,3 = Tag 3,4 = Tag 4,5 = Tag 5,6 = Tag 6,7 = Parked)", "type": "integer"}, "IsParked": {"description": "Is the order parked?", "type": "boolean"}, "Identifiers": {"description": "Order identifiers. [Prime | Scheduled]", "type": "array", "items": {"$ref": "#/components/schemas/Identifier"}}, "ReferenceNum": {"description": "Order reference number (Channel defined)", "type": "string"}, "SecondaryReference": {"description": "An additional reference number for the orderr (Used by some channels)", "type": "string"}, "ExternalReferenceNum": {"description": "This is an additional reference number from the sales channel, typically used by eBay", "type": "string"}, "ReceivedDate": {"format": "date-time", "description": "The date and time at which the order was placed on the sales channel", "type": "string"}, "Source": {"description": "Order ChannelName/Source (e.g. EBAY)", "type": "string"}, "SubSource": {"description": "Order Subsource (e.g. EBAY1)", "type": "string"}, "SiteCode": {"description": "SiteCode used to differentiate between different sites from a single channel (eg. Amazon UK, Amazon US, Amazon FR...)", "type": "string"}, "HoldOrCancel": {"description": "This shows whether the order has been marked as on hold, for processed orders if the order has been cancelled OnHold = 1", "type": "boolean"}, "DespatchByDate": {"format": "date-time", "description": "Despatch by Date", "type": "string"}, "ScheduledDelivery": {"$ref": "#/components/schemas/ScheduledDelivery"}, "HasScheduledDelivery": {"type": "boolean", "readOnly": true}, "Location": {"format": "uuid", "description": "Order location ID", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "NumItems": {"format": "int32", "description": "Quantity of order items", "type": "integer"}, "PickwaveIds": {"description": "All related Pickwave Ids", "type": "array", "items": {"format": "int32", "type": "integer"}}, "PIIRedactionDays": {"format": "int32", "description": "Number of days after which an order is processed its pii will be redacted/obfuscate", "type": "integer"}, "StockAllocationType": {"enum": ["NotAllocated", "Insuffient", "Partial", "Full", "OverAllocated"], "type": "string"}}}, "OrderShippingInfo": {"type": "object", "properties": {"Vendor": {"description": "Courier name (e.g. Royal Mail)", "type": "string"}, "PostalServiceId": {"format": "uuid", "description": "Postal service ID", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "PostalServiceName": {"description": "Postal service name (e.g. Next day delivery)", "type": "string"}, "TotalWeight": {"format": "double", "description": "Order total weight", "type": "number"}, "ItemWeight": {"format": "double", "description": "If order is processed", "type": "number"}, "PackageCategoryId": {"format": "uuid", "description": "Package category ID", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "PackageCategory": {"description": "Package category name", "type": "string"}, "PackageTypeId": {"format": "uuid", "description": "Package type ID", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "PackageType": {"description": "Package type name", "type": "string"}, "PostageCost": {"format": "double", "description": "Order postage cost", "type": "number"}, "PostageCostExTax": {"format": "double", "description": "Order postage cost excluding tax", "type": "number"}, "TrackingNumber": {"description": "Order tracking number provided by courier", "type": "string"}, "ManualAdjust": {"description": "If there is an adjustment to shipping cost was made", "type": "boolean"}}}, "OrderCustomerInfo": {"type": "object", "properties": {"ChannelBuyerName": {"description": "Username of customer (Comes from channel)", "type": "string"}, "Address": {"$ref": "#/components/schemas/CustomerAddress"}, "BillingAddress": {"$ref": "#/components/schemas/CustomerAddress"}}}, "OrderTotalsInfo": {"type": "object", "properties": {"Subtotal": {"format": "double", "description": "Order subtotal", "type": "number"}, "PostageCost": {"format": "double", "description": "Order postage cost", "type": "number"}, "PostageCostExTax": {"format": "double", "description": "Order postage cost ex. tax", "type": "number"}, "Tax": {"format": "double", "description": "Tax", "type": "number"}, "TotalCharge": {"format": "double", "description": "Total charge", "type": "number"}, "PaymentMethod": {"description": "Payment method", "type": "string"}, "PaymentMethodId": {"format": "uuid", "description": "Payment method ID", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "ProfitMargin": {"format": "double", "description": "Profit margin", "type": "number", "readOnly": true}, "TotalDiscount": {"format": "double", "description": "Total discount applied to the order", "type": "number"}, "Currency": {"description": "Order currency", "type": "string"}, "CountryTaxRate": {"format": "double", "description": "Country tax rate", "type": "number"}, "ConversionRate": {"format": "double", "description": "Currency conversion rate. Set at point of save by the currency", "type": "number"}}}, "OrderItem": {"description": "Order item object", "type": "object", "properties": {"ItemId": {"format": "uuid", "description": "Stock Item ID", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "ItemNumber": {"description": "Item number as on channel", "type": "string"}, "SKU": {"description": "Product SKU", "type": "string"}, "ItemSource": {"description": "Item source / channel name", "type": "string"}, "Title": {"description": "Item title", "type": "string"}, "Quantity": {"format": "int32", "description": "Quantity", "type": "integer"}, "CategoryName": {"description": "Product category", "type": "string"}, "CompositeAvailablity": {"format": "int32", "description": "Composite availability", "type": "integer"}, "StockLevelsSpecified": {"description": "If stock level specified", "type": "boolean"}, "OnOrder": {"format": "int32", "description": "Level due in purchase orders", "type": "integer"}, "OnPurchaseOrder": {"$ref": "#/components/schemas/OrderItemOnOrder"}, "InOrderBook": {"format": "int32", "description": "Quantity currently in open orders", "type": "integer"}, "Level": {"format": "int32", "description": "Current stock level", "type": "integer"}, "MinimumLevel": {"format": "int32", "description": "Minimum level", "type": "integer"}, "AvailableStock": {"format": "int32", "description": "Currently available stock level (Level-InOrderBook)", "type": "integer"}, "PricePerUnit": {"format": "double", "description": "Unit price", "type": "number"}, "UnitCost": {"format": "double", "description": "Unit cost", "type": "number"}, "DespatchStockUnitCost": {"format": "double", "description": "Despatch stock unit cost", "type": "number"}, "Discount": {"format": "double", "description": "Percentage (0%, 10%, 20%, etc...)", "type": "number"}, "Tax": {"format": "double", "description": "Actual tax value on an item", "type": "number", "readOnly": true}, "TaxRate": {"format": "double", "description": "Tax rate", "type": "number"}, "Cost": {"format": "double", "description": "Total item cost (exc tax)", "type": "number"}, "CostIncTax": {"format": "double", "description": "Total item cost (inc tax)", "type": "number"}, "CompositeSubItems": {"description": "List of order items", "type": "array", "items": {"$ref": "#/components/schemas/OrderItem"}}, "IsService": {"description": "if item is a service", "type": "boolean"}, "SalesTax": {"format": "double", "description": "Sales Tax", "type": "number"}, "TaxCostInclusive": {"description": "If tax is included in a cost", "type": "boolean"}, "PartShipped": {"description": "If order is partly shipped", "type": "boolean"}, "Weight": {"format": "double", "description": "Order weight", "type": "number"}, "BarcodeNumber": {"description": "Product barcode", "type": "string"}, "Market": {"format": "int32", "description": "Market", "type": "integer"}, "ChannelSKU": {"description": "Channel product SKU", "type": "string"}, "ChannelTitle": {"description": "Channel product title", "type": "string"}, "DiscountValue": {"format": "double", "type": "number", "readOnly": true}, "HasImage": {"description": "If item got an image", "type": "boolean", "readOnly": true}, "ImageId": {"format": "uuid", "description": "Image ID", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "AdditionalInfo": {"description": "List of order item options", "type": "array", "items": {"$ref": "#/components/schemas/OrderItemOption"}}, "StockLevelIndicator": {"format": "int32", "description": "Stock level indicator", "type": "integer"}, "ShippingCost": {"format": "double", "description": "If batch number scan required", "type": "number"}, "PartShippedQty": {"format": "int32", "description": "ShippingCost", "type": "integer"}, "ItemName": {"description": "PartShippedQty", "type": "string"}, "BatchNumberScanRequired": {"description": "ItemName", "type": "boolean"}, "SerialNumberScanRequired": {"description": "If serial number scan required", "type": "boolean"}, "BinRack": {"description": "Binrack location", "type": "string"}, "BinRacks": {"description": "List of BinRacks used for OrderItem", "type": "array", "items": {"$ref": "#/components/schemas/OrderItemBinRack"}}, "InventoryTrackingType": {"format": "int32", "description": "Identifies whether the item has a sell by date or other defined order in which inventory is to be sold", "type": "integer"}, "isBatchedStockItem": {"description": "If item has batches", "type": "boolean", "readOnly": true}, "IsWarehouseManaged": {"type": "boolean"}, "IsUnlinked": {"type": "boolean", "readOnly": true}, "StockItemIntId": {"format": "int32", "type": "integer"}, "Boxes": {"type": "array", "items": {"$ref": "#/components/schemas/StockItemBoxConfiguration"}}, "AddedDate": {"format": "date-time", "type": "string"}, "RowId": {"format": "uuid", "description": "Record row ID", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "OrderId": {"format": "uuid", "description": "Order ID (pkOrderID)", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "StockItemId": {"format": "uuid", "description": "Stock Item ID", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}}}, "Identifier": {"type": "object", "properties": {"IdentifierId": {"format": "int32", "description": "Internal identifier id. Use to update image and name.", "type": "integer"}, "IsCustom": {"description": "Is the tag user or system defined?", "type": "boolean"}, "ImageId": {"format": "uuid", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "ImageUrl": {"type": "string"}, "Tag": {"description": "Internal tag for identification purposes", "type": "string"}, "Name": {"description": "Name displayed where the tag is used", "type": "string"}}}, "ScheduledDelivery": {"type": "object", "properties": {"From": {"format": "date-time", "type": "string"}, "To": {"format": "date-time", "type": "string"}}}, "CustomerAddress": {"type": "object", "properties": {"EmailAddress": {"description": "Customer's email address.", "type": "string"}, "Address1": {"description": "First line of customer address.", "type": "string"}, "Address2": {"description": "Second line of customer address.", "type": "string"}, "Address3": {"description": "Third line of customer address.", "type": "string"}, "Town": {"description": "Customer's town.", "type": "string"}, "Region": {"description": "Customer's region.", "type": "string"}, "PostCode": {"description": "Customer's postcode.", "type": "string"}, "Country": {"description": "Customer's country.", "type": "string"}, "Continent": {"description": "Customer's continent", "type": "string"}, "FullName": {"description": "Customer's first and second name.", "type": "string"}, "Company": {"description": "Customer's company name.", "type": "string"}, "PhoneNumber": {"description": "Customer's telephone number.", "type": "string"}, "CountryId": {"format": "uuid", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}}}, "OrderItemOnOrder": {"type": "object", "properties": {"pkPurchaseItemId": {"format": "uuid", "description": "Primary key of the bound", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "Rowid": {"format": "uuid", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "pkPurchaseId": {"format": "uuid", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "ExternalInvoiceNumber": {"type": "string"}, "fkSupplierId": {"format": "uuid", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "DateOfDelivery": {"format": "date-time", "type": "string"}, "QuotedDeliveryDate": {"format": "date-time", "type": "string"}, "SupplierName": {"type": "string"}, "fkLocationId": {"format": "uuid", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}}}, "OrderItemOption": {"type": "object", "properties": {"pkOptionId": {"format": "uuid", "description": "Option ID", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "Property": {"description": "Option property", "type": "string"}, "Value": {"description": "Value of the option", "type": "string"}}}, "OrderItemBinRack": {"description": "OrderItem BinRack", "type": "object", "properties": {"Quantity": {"format": "int32", "description": "Quantity for BinRack per Location", "type": "integer"}, "BinRack": {"description": "BinRack", "type": "string"}, "Location": {"format": "uuid", "description": "LocationId of the BinRack", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "BatchId": {"format": "int32", "description": "If the item is batched, identifies the batch number", "type": "integer"}, "OrderItemBatchId": {"format": "int32", "description": "If the item is batched, identifies the unique order item batch row", "type": "integer"}}}, "StockItemBoxConfiguration": {"description": "Stock item box configuration, dimennsions", "type": "object", "properties": {"BoxId": {"format": "int32", "description": "Unique box id.", "type": "integer"}, "StockItemIntId": {"format": "int32", "description": "", "type": "integer"}, "BoxName": {"description": "Box name max 16 characters", "type": "string"}, "Width": {"format": "double", "description": "Width of the box", "type": "number"}, "Height": {"format": "double", "description": "Height of the box", "type": "number"}, "Length": {"format": "double", "description": "Depth of the box", "type": "number"}, "Weight": {"format": "double", "description": "Total weight of the box.", "type": "number"}, "ValuePercentage": {"format": "double", "description": "Value break down percentage", "type": "number"}, "Barcode": {"description": "Box barcode, max 64 characters.", "type": "string"}, "PackagingTypeId": {"format": "uuid", "description": "Packaging type id", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "LogicalDelete": {"description": "IsDeleted flag.", "type": "boolean"}}}, "Orders_GetOpenOrdersRequest": {"type": "object", "properties": {"entriesPerPage": {"format": "int32", "description": "Entries per page", "type": "integer"}, "pageNumber": {"format": "int32", "description": "Page number", "type": "integer"}, "filters": {"$ref": "#/components/schemas/FieldsFilter"}, "sorting": {"description": "Sorting to apply", "type": "array", "items": {"$ref": "#/components/schemas/FieldSorting"}}, "fulfilmentCenter": {"format": "uuid", "description": "Location to get the orders for", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "additionalFilter": {"description": "Additional filter", "type": "string"}}}, "FieldsFilter": {"description": "Fields filter", "type": "object", "properties": {"TextFields": {"description": "Text type field filters", "type": "array", "items": {"$ref": "#/components/schemas/TextFieldFilter"}}, "BooleanFields": {"description": "Boolean type field filters", "type": "array", "items": {"$ref": "#/components/schemas/BooleanFieldFilter"}}, "NumericFields": {"description": "Numerical type field filters", "type": "array", "items": {"$ref": "#/components/schemas/NumericFieldFilter"}}, "DateFields": {"description": "Date type field filters", "type": "array", "items": {"$ref": "#/components/schemas/DateFieldFilter"}}, "ListFields": {"description": "List type field filters", "type": "array", "items": {"$ref": "#/components/schemas/ListFieldFilter"}}, "FieldVisibility": {"type": "array", "items": {"$ref": "#/components/schemas/FieldVisibility"}}}}, "FieldSorting": {"type": "object", "properties": {"FieldCode": {"description": "Field code to sort by", "enum": ["NONE", "GENERAL_INFO", "GENERAL_INFO_ORDER_ID", "GENERAL_INFO_REFERENCE_NUMBER", "GENERAL_INFO_CHANNEL_REFERENCE_NUMBER", "GENERAL_INFO_EXTERNAL_REFERENCE_NUMBER", "GENERAL_INFO_DATE", "GENERAL_INFO_SOURCE", "GENERAL_INFO_SUBSOURCE", "GENERAL_INFO_LABEL_PRINTED", "GENERAL_INFO_INVOICE_PRINTED", "GENERAL_INFO_PICK_LIST_PRINTED", "GENERAL_INFO_IS_RULE_RUN", "GENERAL_INFO_NOTES", "GENERAL_INFO_LOCKED", "GENERAL_INFO_PARKED", "GENERAL_INFO_PART_SHIPPED", "GENERAL_INFO_TAG", "GENERAL_INFO_IDENTIFIER", "GENERAL_INFO_STATUS", "GENERAL_INFO_DESPATCHBYDATE", "GENERAL_INFO_ITEMS_COUNT", "GENERAL_INFO_SHIPPING_LABEL_ERROR", "GENERAL_INFO_HAS_SHIPPING_LABEL_ERROR", "SHIPPING_INFORMATION", "SHIPPING_INFORMATION_VENDOR", "SHIPPING_INFORMATION_SERVICE", "SHIPPING_INFORMATION_WEIGHT", "SHIPPING_INFORMATION_PACKAGING_GROUP", "SHIPPING_INFORMATION_PACKAGING_TYPE", "SHIPPING_INFORMATION_COST", "SHIPPING_INFORMATION_TRACKING_NUMBER", "SHIPPING_INFORMATION_SERVICE_ID", "SHIPPING_SCHEDULED_DELIVERY_START", "SHIPPING_SCHEDULED_DELIVERY_END", "CUSTOMER", "CUSTOMER_ADDRESS_ADDRESS", "CUSTOMER_ADDRESS_FULL_NAME", "CUSTOMER_ADDRESS_COMPANY", "CUSTOMER_ADDRESS_POSTCODE", "CUSTOMER_ADDRESS_COUNTY", "CUSTOMER_ADDRESS_COUNTRY", "CUSTOMER_ADDRESS_COUNTRY_ZONE", "CUSTOMER_ADDRESS_ADDRESS1", "CUSTOMER_ADDRESS_ADDRESS2", "CUSTOMER_ADDRESS_ADDRESS3", "CUSTOMER_ADDRESS_TOWN", "CUSTOMER_EMAIL", "CUSTOMER_CHANNEL_BUYER_NAME", "CUSTOMER_PHONE", "CUSTOMER_BILLING_ADDRESS", "CUSTOMER_BILLING_ADDRESS_NAME", "CUSTOMER_BILLING_ADDRESS_COMPANY", "CUSTOMER_BILLING_ADDRESS_ADDRESS1", "CUSTOMER_BILLING_ADDRESS_ADDRESS2", "CUSTOMER_BILLING_ADDRESS_ADDRESS3", "CUSTOMER_BILLING_ADDRESS_TOWN", "CUSTOMER_BILLING_ADDRESS_REGION", "CUSTOMER_BILLING_ADDRESS_POSTCODE", "CUSTOMER_BILLING_ADDRESS_COUNTRY", "CUSTOMER_BILLING_EMAIL", "CUSTOMER_BILLING_PHONE", "TOTALS", "TOTALS_SUBTOTAL", "TOTALS_SHIPPING", "TOTALS_TAX", "TOTALS_TOTAL", "TOTALS_DISCOUNT", "TOTALS_CURRENCY", "TOTALS_PAYMENT_METHOD", "TOTALS_COUNTRY_TAX_RATE", "ORDER_TOTAL", "ORDER_TOTAL_TOTAL", "ORDER_TOTAL_CURRENCY", "ORDER_TAX", "ORDER_TAX_TOTAL", "ORDER_TAX_CURRENCY", "FOLDER", "FOLDERS", "JOB", "ITEMS", "ITEMS_IMAGE", "ITEMS_SKU", "ITEMS_ORIGINAL_SKU", "ITEMS_TITLE", "ITEMS_ORIGINAL_TITLE", "ITEMS_ITEM_NUMBER", "ITEMS_IS_SERVICE", "ITEMS_QUANTITY", "ITEMS_SOURCE", "ITEMS_LINE", "ITEMS_COST_INC_TAX", "ITEMS_COST", "ITEMS_SALES_TAX", "ITEMS_TAX_RATE", "ITEMS_CURRENCY", "ITEMS_CATEGORY", "ITEMS_BINRACK", "ITEMS_TAX_COST_INCLUSIVE", "ITEMS_DISCOUNT", "ITEMS_SUM_QUANTITY", "ITEMS_WEIGHT", "ITEMS_UNIT_COST", "ITEMS_PRICE_PER_UNIT", "ITEMS_BATCHED", "ITEMS_INVENTORY_TRACKING_TYPE", "ITEMS_BARCODE_NUMBER", "STOCK_LEVEL", "CAN_FULFIL", "HOT_BUTTONS", "HOT_BUTTON", "ADDITIONAL", "LOCATION_ID", "ITEMS_STOCKITEM_ID", "ITEMS_COMPOSITE_PARENT_ID", "GENERAL_INFO_STOCK_ALLOCATION", "GENERAL_INFO_NOTE", "GENERAL_INFO_NOTE_COUNT", "GENERAL_INFO_PICKWAVE_IDS", "FULFILLMENT", "FULFILLMENT_STATE", "FULFILLMENT_ADDITIONAL", "GENERAL_INFO_INVOICE_PRINT_ERROR", "GENERAL_INFO_PICK_LIST_PRINT_ERROR"], "type": "string"}, "Direction": {"description": "Sorting direction (Ascending:0, descending:1)", "enum": ["Ascending", "Descending"], "type": "string"}, "Order": {"format": "int32", "description": "Priority of sorting (e.g. sort by date first, then by status)", "type": "integer"}}}, "TextFieldFilter": {"type": "object", "properties": {"Type": {"description": "Filter type", "enum": ["Equal", "Contains", "StartWith", "EndsWith"], "type": "string"}, "Text": {"description": "Filtering input", "type": "string"}, "FieldCode": {"enum": ["NONE", "GENERAL_INFO", "GENERAL_INFO_ORDER_ID", "GENERAL_INFO_REFERENCE_NUMBER", "GENERAL_INFO_CHANNEL_REFERENCE_NUMBER", "GENERAL_INFO_EXTERNAL_REFERENCE_NUMBER", "GENERAL_INFO_DATE", "GENERAL_INFO_SOURCE", "GENERAL_INFO_SUBSOURCE", "GENERAL_INFO_LABEL_PRINTED", "GENERAL_INFO_INVOICE_PRINTED", "GENERAL_INFO_PICK_LIST_PRINTED", "GENERAL_INFO_IS_RULE_RUN", "GENERAL_INFO_NOTES", "GENERAL_INFO_LOCKED", "GENERAL_INFO_PARKED", "GENERAL_INFO_PART_SHIPPED", "GENERAL_INFO_TAG", "GENERAL_INFO_IDENTIFIER", "GENERAL_INFO_STATUS", "GENERAL_INFO_DESPATCHBYDATE", "GENERAL_INFO_ITEMS_COUNT", "GENERAL_INFO_SHIPPING_LABEL_ERROR", "GENERAL_INFO_HAS_SHIPPING_LABEL_ERROR", "SHIPPING_INFORMATION", "SHIPPING_INFORMATION_VENDOR", "SHIPPING_INFORMATION_SERVICE", "SHIPPING_INFORMATION_WEIGHT", "SHIPPING_INFORMATION_PACKAGING_GROUP", "SHIPPING_INFORMATION_PACKAGING_TYPE", "SHIPPING_INFORMATION_COST", "SHIPPING_INFORMATION_TRACKING_NUMBER", "SHIPPING_INFORMATION_SERVICE_ID", "SHIPPING_SCHEDULED_DELIVERY_START", "SHIPPING_SCHEDULED_DELIVERY_END", "CUSTOMER", "CUSTOMER_ADDRESS_ADDRESS", "CUSTOMER_ADDRESS_FULL_NAME", "CUSTOMER_ADDRESS_COMPANY", "CUSTOMER_ADDRESS_POSTCODE", "CUSTOMER_ADDRESS_COUNTY", "CUSTOMER_ADDRESS_COUNTRY", "CUSTOMER_ADDRESS_COUNTRY_ZONE", "CUSTOMER_ADDRESS_ADDRESS1", "CUSTOMER_ADDRESS_ADDRESS2", "CUSTOMER_ADDRESS_ADDRESS3", "CUSTOMER_ADDRESS_TOWN", "CUSTOMER_EMAIL", "CUSTOMER_CHANNEL_BUYER_NAME", "CUSTOMER_PHONE", "CUSTOMER_BILLING_ADDRESS", "CUSTOMER_BILLING_ADDRESS_NAME", "CUSTOMER_BILLING_ADDRESS_COMPANY", "CUSTOMER_BILLING_ADDRESS_ADDRESS1", "CUSTOMER_BILLING_ADDRESS_ADDRESS2", "CUSTOMER_BILLING_ADDRESS_ADDRESS3", "CUSTOMER_BILLING_ADDRESS_TOWN", "CUSTOMER_BILLING_ADDRESS_REGION", "CUSTOMER_BILLING_ADDRESS_POSTCODE", "CUSTOMER_BILLING_ADDRESS_COUNTRY", "CUSTOMER_BILLING_EMAIL", "CUSTOMER_BILLING_PHONE", "TOTALS", "TOTALS_SUBTOTAL", "TOTALS_SHIPPING", "TOTALS_TAX", "TOTALS_TOTAL", "TOTALS_DISCOUNT", "TOTALS_CURRENCY", "TOTALS_PAYMENT_METHOD", "TOTALS_COUNTRY_TAX_RATE", "ORDER_TOTAL", "ORDER_TOTAL_TOTAL", "ORDER_TOTAL_CURRENCY", "ORDER_TAX", "ORDER_TAX_TOTAL", "ORDER_TAX_CURRENCY", "FOLDER", "FOLDERS", "JOB", "ITEMS", "ITEMS_IMAGE", "ITEMS_SKU", "ITEMS_ORIGINAL_SKU", "ITEMS_TITLE", "ITEMS_ORIGINAL_TITLE", "ITEMS_ITEM_NUMBER", "ITEMS_IS_SERVICE", "ITEMS_QUANTITY", "ITEMS_SOURCE", "ITEMS_LINE", "ITEMS_COST_INC_TAX", "ITEMS_COST", "ITEMS_SALES_TAX", "ITEMS_TAX_RATE", "ITEMS_CURRENCY", "ITEMS_CATEGORY", "ITEMS_BINRACK", "ITEMS_TAX_COST_INCLUSIVE", "ITEMS_DISCOUNT", "ITEMS_SUM_QUANTITY", "ITEMS_WEIGHT", "ITEMS_UNIT_COST", "ITEMS_PRICE_PER_UNIT", "ITEMS_BATCHED", "ITEMS_INVENTORY_TRACKING_TYPE", "ITEMS_BARCODE_NUMBER", "STOCK_LEVEL", "CAN_FULFIL", "HOT_BUTTONS", "HOT_BUTTON", "ADDITIONAL", "LOCATION_ID", "ITEMS_STOCKITEM_ID", "ITEMS_COMPOSITE_PARENT_ID", "GENERAL_INFO_STOCK_ALLOCATION", "GENERAL_INFO_NOTE", "GENERAL_INFO_NOTE_COUNT", "GENERAL_INFO_PICKWAVE_IDS", "FULFILLMENT", "FULFILLMENT_STATE", "FULFILLMENT_ADDITIONAL", "GENERAL_INFO_INVOICE_PRINT_ERROR", "GENERAL_INFO_PICK_LIST_PRINT_ERROR"], "type": "string"}}}, "BooleanFieldFilter": {"type": "object", "properties": {"Value": {"type": "boolean"}, "FieldCode": {"enum": ["NONE", "GENERAL_INFO", "GENERAL_INFO_ORDER_ID", "GENERAL_INFO_REFERENCE_NUMBER", "GENERAL_INFO_CHANNEL_REFERENCE_NUMBER", "GENERAL_INFO_EXTERNAL_REFERENCE_NUMBER", "GENERAL_INFO_DATE", "GENERAL_INFO_SOURCE", "GENERAL_INFO_SUBSOURCE", "GENERAL_INFO_LABEL_PRINTED", "GENERAL_INFO_INVOICE_PRINTED", "GENERAL_INFO_PICK_LIST_PRINTED", "GENERAL_INFO_IS_RULE_RUN", "GENERAL_INFO_NOTES", "GENERAL_INFO_LOCKED", "GENERAL_INFO_PARKED", "GENERAL_INFO_PART_SHIPPED", "GENERAL_INFO_TAG", "GENERAL_INFO_IDENTIFIER", "GENERAL_INFO_STATUS", "GENERAL_INFO_DESPATCHBYDATE", "GENERAL_INFO_ITEMS_COUNT", "GENERAL_INFO_SHIPPING_LABEL_ERROR", "GENERAL_INFO_HAS_SHIPPING_LABEL_ERROR", "SHIPPING_INFORMATION", "SHIPPING_INFORMATION_VENDOR", "SHIPPING_INFORMATION_SERVICE", "SHIPPING_INFORMATION_WEIGHT", "SHIPPING_INFORMATION_PACKAGING_GROUP", "SHIPPING_INFORMATION_PACKAGING_TYPE", "SHIPPING_INFORMATION_COST", "SHIPPING_INFORMATION_TRACKING_NUMBER", "SHIPPING_INFORMATION_SERVICE_ID", "SHIPPING_SCHEDULED_DELIVERY_START", "SHIPPING_SCHEDULED_DELIVERY_END", "CUSTOMER", "CUSTOMER_ADDRESS_ADDRESS", "CUSTOMER_ADDRESS_FULL_NAME", "CUSTOMER_ADDRESS_COMPANY", "CUSTOMER_ADDRESS_POSTCODE", "CUSTOMER_ADDRESS_COUNTY", "CUSTOMER_ADDRESS_COUNTRY", "CUSTOMER_ADDRESS_COUNTRY_ZONE", "CUSTOMER_ADDRESS_ADDRESS1", "CUSTOMER_ADDRESS_ADDRESS2", "CUSTOMER_ADDRESS_ADDRESS3", "CUSTOMER_ADDRESS_TOWN", "CUSTOMER_EMAIL", "CUSTOMER_CHANNEL_BUYER_NAME", "CUSTOMER_PHONE", "CUSTOMER_BILLING_ADDRESS", "CUSTOMER_BILLING_ADDRESS_NAME", "CUSTOMER_BILLING_ADDRESS_COMPANY", "CUSTOMER_BILLING_ADDRESS_ADDRESS1", "CUSTOMER_BILLING_ADDRESS_ADDRESS2", "CUSTOMER_BILLING_ADDRESS_ADDRESS3", "CUSTOMER_BILLING_ADDRESS_TOWN", "CUSTOMER_BILLING_ADDRESS_REGION", "CUSTOMER_BILLING_ADDRESS_POSTCODE", "CUSTOMER_BILLING_ADDRESS_COUNTRY", "CUSTOMER_BILLING_EMAIL", "CUSTOMER_BILLING_PHONE", "TOTALS", "TOTALS_SUBTOTAL", "TOTALS_SHIPPING", "TOTALS_TAX", "TOTALS_TOTAL", "TOTALS_DISCOUNT", "TOTALS_CURRENCY", "TOTALS_PAYMENT_METHOD", "TOTALS_COUNTRY_TAX_RATE", "ORDER_TOTAL", "ORDER_TOTAL_TOTAL", "ORDER_TOTAL_CURRENCY", "ORDER_TAX", "ORDER_TAX_TOTAL", "ORDER_TAX_CURRENCY", "FOLDER", "FOLDERS", "JOB", "ITEMS", "ITEMS_IMAGE", "ITEMS_SKU", "ITEMS_ORIGINAL_SKU", "ITEMS_TITLE", "ITEMS_ORIGINAL_TITLE", "ITEMS_ITEM_NUMBER", "ITEMS_IS_SERVICE", "ITEMS_QUANTITY", "ITEMS_SOURCE", "ITEMS_LINE", "ITEMS_COST_INC_TAX", "ITEMS_COST", "ITEMS_SALES_TAX", "ITEMS_TAX_RATE", "ITEMS_CURRENCY", "ITEMS_CATEGORY", "ITEMS_BINRACK", "ITEMS_TAX_COST_INCLUSIVE", "ITEMS_DISCOUNT", "ITEMS_SUM_QUANTITY", "ITEMS_WEIGHT", "ITEMS_UNIT_COST", "ITEMS_PRICE_PER_UNIT", "ITEMS_BATCHED", "ITEMS_INVENTORY_TRACKING_TYPE", "ITEMS_BARCODE_NUMBER", "STOCK_LEVEL", "CAN_FULFIL", "HOT_BUTTONS", "HOT_BUTTON", "ADDITIONAL", "LOCATION_ID", "ITEMS_STOCKITEM_ID", "ITEMS_COMPOSITE_PARENT_ID", "GENERAL_INFO_STOCK_ALLOCATION", "GENERAL_INFO_NOTE", "GENERAL_INFO_NOTE_COUNT", "GENERAL_INFO_PICKWAVE_IDS", "FULFILLMENT", "FULFILLMENT_STATE", "FULFILLMENT_ADDITIONAL", "GENERAL_INFO_INVOICE_PRINT_ERROR", "GENERAL_INFO_PICK_LIST_PRINT_ERROR"], "type": "string"}}}, "NumericFieldFilter": {"type": "object", "properties": {"Type": {"description": "Filter type", "enum": ["Equal", "Greater", "Lower"], "type": "string"}, "Value": {"format": "double", "description": "Filtering input", "type": "number"}, "FieldCode": {"enum": ["NONE", "GENERAL_INFO", "GENERAL_INFO_ORDER_ID", "GENERAL_INFO_REFERENCE_NUMBER", "GENERAL_INFO_CHANNEL_REFERENCE_NUMBER", "GENERAL_INFO_EXTERNAL_REFERENCE_NUMBER", "GENERAL_INFO_DATE", "GENERAL_INFO_SOURCE", "GENERAL_INFO_SUBSOURCE", "GENERAL_INFO_LABEL_PRINTED", "GENERAL_INFO_INVOICE_PRINTED", "GENERAL_INFO_PICK_LIST_PRINTED", "GENERAL_INFO_IS_RULE_RUN", "GENERAL_INFO_NOTES", "GENERAL_INFO_LOCKED", "GENERAL_INFO_PARKED", "GENERAL_INFO_PART_SHIPPED", "GENERAL_INFO_TAG", "GENERAL_INFO_IDENTIFIER", "GENERAL_INFO_STATUS", "GENERAL_INFO_DESPATCHBYDATE", "GENERAL_INFO_ITEMS_COUNT", "GENERAL_INFO_SHIPPING_LABEL_ERROR", "GENERAL_INFO_HAS_SHIPPING_LABEL_ERROR", "SHIPPING_INFORMATION", "SHIPPING_INFORMATION_VENDOR", "SHIPPING_INFORMATION_SERVICE", "SHIPPING_INFORMATION_WEIGHT", "SHIPPING_INFORMATION_PACKAGING_GROUP", "SHIPPING_INFORMATION_PACKAGING_TYPE", "SHIPPING_INFORMATION_COST", "SHIPPING_INFORMATION_TRACKING_NUMBER", "SHIPPING_INFORMATION_SERVICE_ID", "SHIPPING_SCHEDULED_DELIVERY_START", "SHIPPING_SCHEDULED_DELIVERY_END", "CUSTOMER", "CUSTOMER_ADDRESS_ADDRESS", "CUSTOMER_ADDRESS_FULL_NAME", "CUSTOMER_ADDRESS_COMPANY", "CUSTOMER_ADDRESS_POSTCODE", "CUSTOMER_ADDRESS_COUNTY", "CUSTOMER_ADDRESS_COUNTRY", "CUSTOMER_ADDRESS_COUNTRY_ZONE", "CUSTOMER_ADDRESS_ADDRESS1", "CUSTOMER_ADDRESS_ADDRESS2", "CUSTOMER_ADDRESS_ADDRESS3", "CUSTOMER_ADDRESS_TOWN", "CUSTOMER_EMAIL", "CUSTOMER_CHANNEL_BUYER_NAME", "CUSTOMER_PHONE", "CUSTOMER_BILLING_ADDRESS", "CUSTOMER_BILLING_ADDRESS_NAME", "CUSTOMER_BILLING_ADDRESS_COMPANY", "CUSTOMER_BILLING_ADDRESS_ADDRESS1", "CUSTOMER_BILLING_ADDRESS_ADDRESS2", "CUSTOMER_BILLING_ADDRESS_ADDRESS3", "CUSTOMER_BILLING_ADDRESS_TOWN", "CUSTOMER_BILLING_ADDRESS_REGION", "CUSTOMER_BILLING_ADDRESS_POSTCODE", "CUSTOMER_BILLING_ADDRESS_COUNTRY", "CUSTOMER_BILLING_EMAIL", "CUSTOMER_BILLING_PHONE", "TOTALS", "TOTALS_SUBTOTAL", "TOTALS_SHIPPING", "TOTALS_TAX", "TOTALS_TOTAL", "TOTALS_DISCOUNT", "TOTALS_CURRENCY", "TOTALS_PAYMENT_METHOD", "TOTALS_COUNTRY_TAX_RATE", "ORDER_TOTAL", "ORDER_TOTAL_TOTAL", "ORDER_TOTAL_CURRENCY", "ORDER_TAX", "ORDER_TAX_TOTAL", "ORDER_TAX_CURRENCY", "FOLDER", "FOLDERS", "JOB", "ITEMS", "ITEMS_IMAGE", "ITEMS_SKU", "ITEMS_ORIGINAL_SKU", "ITEMS_TITLE", "ITEMS_ORIGINAL_TITLE", "ITEMS_ITEM_NUMBER", "ITEMS_IS_SERVICE", "ITEMS_QUANTITY", "ITEMS_SOURCE", "ITEMS_LINE", "ITEMS_COST_INC_TAX", "ITEMS_COST", "ITEMS_SALES_TAX", "ITEMS_TAX_RATE", "ITEMS_CURRENCY", "ITEMS_CATEGORY", "ITEMS_BINRACK", "ITEMS_TAX_COST_INCLUSIVE", "ITEMS_DISCOUNT", "ITEMS_SUM_QUANTITY", "ITEMS_WEIGHT", "ITEMS_UNIT_COST", "ITEMS_PRICE_PER_UNIT", "ITEMS_BATCHED", "ITEMS_INVENTORY_TRACKING_TYPE", "ITEMS_BARCODE_NUMBER", "STOCK_LEVEL", "CAN_FULFIL", "HOT_BUTTONS", "HOT_BUTTON", "ADDITIONAL", "LOCATION_ID", "ITEMS_STOCKITEM_ID", "ITEMS_COMPOSITE_PARENT_ID", "GENERAL_INFO_STOCK_ALLOCATION", "GENERAL_INFO_NOTE", "GENERAL_INFO_NOTE_COUNT", "GENERAL_INFO_PICKWAVE_IDS", "FULFILLMENT", "FULFILLMENT_STATE", "FULFILLMENT_ADDITIONAL", "GENERAL_INFO_INVOICE_PRINT_ERROR", "GENERAL_INFO_PICK_LIST_PRINT_ERROR"], "type": "string"}}}, "DateFieldFilter": {"type": "object", "properties": {"DateFrom": {"format": "date-time", "description": "Date from", "type": "string"}, "DateTo": {"format": "date-time", "description": "Date to", "type": "string"}, "Type": {"description": "Filter type", "enum": ["Range", "OlderThan", "LastDays"], "type": "string"}, "Value": {"format": "int32", "description": "Filtering input", "type": "integer"}, "FieldCode": {"enum": ["NONE", "GENERAL_INFO", "GENERAL_INFO_ORDER_ID", "GENERAL_INFO_REFERENCE_NUMBER", "GENERAL_INFO_CHANNEL_REFERENCE_NUMBER", "GENERAL_INFO_EXTERNAL_REFERENCE_NUMBER", "GENERAL_INFO_DATE", "GENERAL_INFO_SOURCE", "GENERAL_INFO_SUBSOURCE", "GENERAL_INFO_LABEL_PRINTED", "GENERAL_INFO_INVOICE_PRINTED", "GENERAL_INFO_PICK_LIST_PRINTED", "GENERAL_INFO_IS_RULE_RUN", "GENERAL_INFO_NOTES", "GENERAL_INFO_LOCKED", "GENERAL_INFO_PARKED", "GENERAL_INFO_PART_SHIPPED", "GENERAL_INFO_TAG", "GENERAL_INFO_IDENTIFIER", "GENERAL_INFO_STATUS", "GENERAL_INFO_DESPATCHBYDATE", "GENERAL_INFO_ITEMS_COUNT", "GENERAL_INFO_SHIPPING_LABEL_ERROR", "GENERAL_INFO_HAS_SHIPPING_LABEL_ERROR", "SHIPPING_INFORMATION", "SHIPPING_INFORMATION_VENDOR", "SHIPPING_INFORMATION_SERVICE", "SHIPPING_INFORMATION_WEIGHT", "SHIPPING_INFORMATION_PACKAGING_GROUP", "SHIPPING_INFORMATION_PACKAGING_TYPE", "SHIPPING_INFORMATION_COST", "SHIPPING_INFORMATION_TRACKING_NUMBER", "SHIPPING_INFORMATION_SERVICE_ID", "SHIPPING_SCHEDULED_DELIVERY_START", "SHIPPING_SCHEDULED_DELIVERY_END", "CUSTOMER", "CUSTOMER_ADDRESS_ADDRESS", "CUSTOMER_ADDRESS_FULL_NAME", "CUSTOMER_ADDRESS_COMPANY", "CUSTOMER_ADDRESS_POSTCODE", "CUSTOMER_ADDRESS_COUNTY", "CUSTOMER_ADDRESS_COUNTRY", "CUSTOMER_ADDRESS_COUNTRY_ZONE", "CUSTOMER_ADDRESS_ADDRESS1", "CUSTOMER_ADDRESS_ADDRESS2", "CUSTOMER_ADDRESS_ADDRESS3", "CUSTOMER_ADDRESS_TOWN", "CUSTOMER_EMAIL", "CUSTOMER_CHANNEL_BUYER_NAME", "CUSTOMER_PHONE", "CUSTOMER_BILLING_ADDRESS", "CUSTOMER_BILLING_ADDRESS_NAME", "CUSTOMER_BILLING_ADDRESS_COMPANY", "CUSTOMER_BILLING_ADDRESS_ADDRESS1", "CUSTOMER_BILLING_ADDRESS_ADDRESS2", "CUSTOMER_BILLING_ADDRESS_ADDRESS3", "CUSTOMER_BILLING_ADDRESS_TOWN", "CUSTOMER_BILLING_ADDRESS_REGION", "CUSTOMER_BILLING_ADDRESS_POSTCODE", "CUSTOMER_BILLING_ADDRESS_COUNTRY", "CUSTOMER_BILLING_EMAIL", "CUSTOMER_BILLING_PHONE", "TOTALS", "TOTALS_SUBTOTAL", "TOTALS_SHIPPING", "TOTALS_TAX", "TOTALS_TOTAL", "TOTALS_DISCOUNT", "TOTALS_CURRENCY", "TOTALS_PAYMENT_METHOD", "TOTALS_COUNTRY_TAX_RATE", "ORDER_TOTAL", "ORDER_TOTAL_TOTAL", "ORDER_TOTAL_CURRENCY", "ORDER_TAX", "ORDER_TAX_TOTAL", "ORDER_TAX_CURRENCY", "FOLDER", "FOLDERS", "JOB", "ITEMS", "ITEMS_IMAGE", "ITEMS_SKU", "ITEMS_ORIGINAL_SKU", "ITEMS_TITLE", "ITEMS_ORIGINAL_TITLE", "ITEMS_ITEM_NUMBER", "ITEMS_IS_SERVICE", "ITEMS_QUANTITY", "ITEMS_SOURCE", "ITEMS_LINE", "ITEMS_COST_INC_TAX", "ITEMS_COST", "ITEMS_SALES_TAX", "ITEMS_TAX_RATE", "ITEMS_CURRENCY", "ITEMS_CATEGORY", "ITEMS_BINRACK", "ITEMS_TAX_COST_INCLUSIVE", "ITEMS_DISCOUNT", "ITEMS_SUM_QUANTITY", "ITEMS_WEIGHT", "ITEMS_UNIT_COST", "ITEMS_PRICE_PER_UNIT", "ITEMS_BATCHED", "ITEMS_INVENTORY_TRACKING_TYPE", "ITEMS_BARCODE_NUMBER", "STOCK_LEVEL", "CAN_FULFIL", "HOT_BUTTONS", "HOT_BUTTON", "ADDITIONAL", "LOCATION_ID", "ITEMS_STOCKITEM_ID", "ITEMS_COMPOSITE_PARENT_ID", "GENERAL_INFO_STOCK_ALLOCATION", "GENERAL_INFO_NOTE", "GENERAL_INFO_NOTE_COUNT", "GENERAL_INFO_PICKWAVE_IDS", "FULFILLMENT", "FULFILLMENT_STATE", "FULFILLMENT_ADDITIONAL", "GENERAL_INFO_INVOICE_PRINT_ERROR", "GENERAL_INFO_PICK_LIST_PRINT_ERROR"], "type": "string"}}}, "ListFieldFilter": {"type": "object", "properties": {"Value": {"description": "Filtering input", "type": "string"}, "Type": {"description": "Filter type", "enum": ["Is", "Not"], "type": "string"}, "FieldCode": {"enum": ["NONE", "GENERAL_INFO", "GENERAL_INFO_ORDER_ID", "GENERAL_INFO_REFERENCE_NUMBER", "GENERAL_INFO_CHANNEL_REFERENCE_NUMBER", "GENERAL_INFO_EXTERNAL_REFERENCE_NUMBER", "GENERAL_INFO_DATE", "GENERAL_INFO_SOURCE", "GENERAL_INFO_SUBSOURCE", "GENERAL_INFO_LABEL_PRINTED", "GENERAL_INFO_INVOICE_PRINTED", "GENERAL_INFO_PICK_LIST_PRINTED", "GENERAL_INFO_IS_RULE_RUN", "GENERAL_INFO_NOTES", "GENERAL_INFO_LOCKED", "GENERAL_INFO_PARKED", "GENERAL_INFO_PART_SHIPPED", "GENERAL_INFO_TAG", "GENERAL_INFO_IDENTIFIER", "GENERAL_INFO_STATUS", "GENERAL_INFO_DESPATCHBYDATE", "GENERAL_INFO_ITEMS_COUNT", "GENERAL_INFO_SHIPPING_LABEL_ERROR", "GENERAL_INFO_HAS_SHIPPING_LABEL_ERROR", "SHIPPING_INFORMATION", "SHIPPING_INFORMATION_VENDOR", "SHIPPING_INFORMATION_SERVICE", "SHIPPING_INFORMATION_WEIGHT", "SHIPPING_INFORMATION_PACKAGING_GROUP", "SHIPPING_INFORMATION_PACKAGING_TYPE", "SHIPPING_INFORMATION_COST", "SHIPPING_INFORMATION_TRACKING_NUMBER", "SHIPPING_INFORMATION_SERVICE_ID", "SHIPPING_SCHEDULED_DELIVERY_START", "SHIPPING_SCHEDULED_DELIVERY_END", "CUSTOMER", "CUSTOMER_ADDRESS_ADDRESS", "CUSTOMER_ADDRESS_FULL_NAME", "CUSTOMER_ADDRESS_COMPANY", "CUSTOMER_ADDRESS_POSTCODE", "CUSTOMER_ADDRESS_COUNTY", "CUSTOMER_ADDRESS_COUNTRY", "CUSTOMER_ADDRESS_COUNTRY_ZONE", "CUSTOMER_ADDRESS_ADDRESS1", "CUSTOMER_ADDRESS_ADDRESS2", "CUSTOMER_ADDRESS_ADDRESS3", "CUSTOMER_ADDRESS_TOWN", "CUSTOMER_EMAIL", "CUSTOMER_CHANNEL_BUYER_NAME", "CUSTOMER_PHONE", "CUSTOMER_BILLING_ADDRESS", "CUSTOMER_BILLING_ADDRESS_NAME", "CUSTOMER_BILLING_ADDRESS_COMPANY", "CUSTOMER_BILLING_ADDRESS_ADDRESS1", "CUSTOMER_BILLING_ADDRESS_ADDRESS2", "CUSTOMER_BILLING_ADDRESS_ADDRESS3", "CUSTOMER_BILLING_ADDRESS_TOWN", "CUSTOMER_BILLING_ADDRESS_REGION", "CUSTOMER_BILLING_ADDRESS_POSTCODE", "CUSTOMER_BILLING_ADDRESS_COUNTRY", "CUSTOMER_BILLING_EMAIL", "CUSTOMER_BILLING_PHONE", "TOTALS", "TOTALS_SUBTOTAL", "TOTALS_SHIPPING", "TOTALS_TAX", "TOTALS_TOTAL", "TOTALS_DISCOUNT", "TOTALS_CURRENCY", "TOTALS_PAYMENT_METHOD", "TOTALS_COUNTRY_TAX_RATE", "ORDER_TOTAL", "ORDER_TOTAL_TOTAL", "ORDER_TOTAL_CURRENCY", "ORDER_TAX", "ORDER_TAX_TOTAL", "ORDER_TAX_CURRENCY", "FOLDER", "FOLDERS", "JOB", "ITEMS", "ITEMS_IMAGE", "ITEMS_SKU", "ITEMS_ORIGINAL_SKU", "ITEMS_TITLE", "ITEMS_ORIGINAL_TITLE", "ITEMS_ITEM_NUMBER", "ITEMS_IS_SERVICE", "ITEMS_QUANTITY", "ITEMS_SOURCE", "ITEMS_LINE", "ITEMS_COST_INC_TAX", "ITEMS_COST", "ITEMS_SALES_TAX", "ITEMS_TAX_RATE", "ITEMS_CURRENCY", "ITEMS_CATEGORY", "ITEMS_BINRACK", "ITEMS_TAX_COST_INCLUSIVE", "ITEMS_DISCOUNT", "ITEMS_SUM_QUANTITY", "ITEMS_WEIGHT", "ITEMS_UNIT_COST", "ITEMS_PRICE_PER_UNIT", "ITEMS_BATCHED", "ITEMS_INVENTORY_TRACKING_TYPE", "ITEMS_BARCODE_NUMBER", "STOCK_LEVEL", "CAN_FULFIL", "HOT_BUTTONS", "HOT_BUTTON", "ADDITIONAL", "LOCATION_ID", "ITEMS_STOCKITEM_ID", "ITEMS_COMPOSITE_PARENT_ID", "GENERAL_INFO_STOCK_ALLOCATION", "GENERAL_INFO_NOTE", "GENERAL_INFO_NOTE_COUNT", "GENERAL_INFO_PICKWAVE_IDS", "FULFILLMENT", "FULFILLMENT_STATE", "FULFILLMENT_ADDITIONAL", "GENERAL_INFO_INVOICE_PRINT_ERROR", "GENERAL_INFO_PICK_LIST_PRINT_ERROR"], "type": "string"}}}, "FieldVisibility": {"type": "object", "properties": {"Name": {"type": "string"}, "Visible": {"type": "boolean"}, "CanFilter": {"type": "boolean"}, "CanSort": {"type": "boolean"}, "FieldType": {"enum": ["Decimal", "Text", "List", "Date", "Boolean", "None", "Button", "HtmlList", "Integer"], "type": "string"}, "Code": {"enum": ["NONE", "GENERAL_INFO", "GENERAL_INFO_ORDER_ID", "GENERAL_INFO_REFERENCE_NUMBER", "GENERAL_INFO_CHANNEL_REFERENCE_NUMBER", "GENERAL_INFO_EXTERNAL_REFERENCE_NUMBER", "GENERAL_INFO_DATE", "GENERAL_INFO_SOURCE", "GENERAL_INFO_SUBSOURCE", "GENERAL_INFO_LABEL_PRINTED", "GENERAL_INFO_INVOICE_PRINTED", "GENERAL_INFO_PICK_LIST_PRINTED", "GENERAL_INFO_IS_RULE_RUN", "GENERAL_INFO_NOTES", "GENERAL_INFO_LOCKED", "GENERAL_INFO_PARKED", "GENERAL_INFO_PART_SHIPPED", "GENERAL_INFO_TAG", "GENERAL_INFO_IDENTIFIER", "GENERAL_INFO_STATUS", "GENERAL_INFO_DESPATCHBYDATE", "GENERAL_INFO_ITEMS_COUNT", "GENERAL_INFO_SHIPPING_LABEL_ERROR", "GENERAL_INFO_HAS_SHIPPING_LABEL_ERROR", "SHIPPING_INFORMATION", "SHIPPING_INFORMATION_VENDOR", "SHIPPING_INFORMATION_SERVICE", "SHIPPING_INFORMATION_WEIGHT", "SHIPPING_INFORMATION_PACKAGING_GROUP", "SHIPPING_INFORMATION_PACKAGING_TYPE", "SHIPPING_INFORMATION_COST", "SHIPPING_INFORMATION_TRACKING_NUMBER", "SHIPPING_INFORMATION_SERVICE_ID", "SHIPPING_SCHEDULED_DELIVERY_START", "SHIPPING_SCHEDULED_DELIVERY_END", "CUSTOMER", "CUSTOMER_ADDRESS_ADDRESS", "CUSTOMER_ADDRESS_FULL_NAME", "CUSTOMER_ADDRESS_COMPANY", "CUSTOMER_ADDRESS_POSTCODE", "CUSTOMER_ADDRESS_COUNTY", "CUSTOMER_ADDRESS_COUNTRY", "CUSTOMER_ADDRESS_COUNTRY_ZONE", "CUSTOMER_ADDRESS_ADDRESS1", "CUSTOMER_ADDRESS_ADDRESS2", "CUSTOMER_ADDRESS_ADDRESS3", "CUSTOMER_ADDRESS_TOWN", "CUSTOMER_EMAIL", "CUSTOMER_CHANNEL_BUYER_NAME", "CUSTOMER_PHONE", "CUSTOMER_BILLING_ADDRESS", "CUSTOMER_BILLING_ADDRESS_NAME", "CUSTOMER_BILLING_ADDRESS_COMPANY", "CUSTOMER_BILLING_ADDRESS_ADDRESS1", "CUSTOMER_BILLING_ADDRESS_ADDRESS2", "CUSTOMER_BILLING_ADDRESS_ADDRESS3", "CUSTOMER_BILLING_ADDRESS_TOWN", "CUSTOMER_BILLING_ADDRESS_REGION", "CUSTOMER_BILLING_ADDRESS_POSTCODE", "CUSTOMER_BILLING_ADDRESS_COUNTRY", "CUSTOMER_BILLING_EMAIL", "CUSTOMER_BILLING_PHONE", "TOTALS", "TOTALS_SUBTOTAL", "TOTALS_SHIPPING", "TOTALS_TAX", "TOTALS_TOTAL", "TOTALS_DISCOUNT", "TOTALS_CURRENCY", "TOTALS_PAYMENT_METHOD", "TOTALS_COUNTRY_TAX_RATE", "ORDER_TOTAL", "ORDER_TOTAL_TOTAL", "ORDER_TOTAL_CURRENCY", "ORDER_TAX", "ORDER_TAX_TOTAL", "ORDER_TAX_CURRENCY", "FOLDER", "FOLDERS", "JOB", "ITEMS", "ITEMS_IMAGE", "ITEMS_SKU", "ITEMS_ORIGINAL_SKU", "ITEMS_TITLE", "ITEMS_ORIGINAL_TITLE", "ITEMS_ITEM_NUMBER", "ITEMS_IS_SERVICE", "ITEMS_QUANTITY", "ITEMS_SOURCE", "ITEMS_LINE", "ITEMS_COST_INC_TAX", "ITEMS_COST", "ITEMS_SALES_TAX", "ITEMS_TAX_RATE", "ITEMS_CURRENCY", "ITEMS_CATEGORY", "ITEMS_BINRACK", "ITEMS_TAX_COST_INCLUSIVE", "ITEMS_DISCOUNT", "ITEMS_SUM_QUANTITY", "ITEMS_WEIGHT", "ITEMS_UNIT_COST", "ITEMS_PRICE_PER_UNIT", "ITEMS_BATCHED", "ITEMS_INVENTORY_TRACKING_TYPE", "ITEMS_BARCODE_NUMBER", "STOCK_LEVEL", "CAN_FULFIL", "HOT_BUTTONS", "HOT_BUTTON", "ADDITIONAL", "LOCATION_ID", "ITEMS_STOCKITEM_ID", "ITEMS_COMPOSITE_PARENT_ID", "GENERAL_INFO_STOCK_ALLOCATION", "GENERAL_INFO_NOTE", "GENERAL_INFO_NOTE_COUNT", "GENERAL_INFO_PICKWAVE_IDS", "FULFILLMENT", "FULFILLMENT_STATE", "FULFILLMENT_ADDITIONAL", "GENERAL_INFO_INVOICE_PRINT_ERROR", "GENERAL_INFO_PICK_LIST_PRINT_ERROR"], "type": "string"}, "SubFields": {"type": "array", "items": {"$ref": "#/components/schemas/FieldVisibility"}}, "IsFilterOnly": {"description": "Defines if the field can only be used as a filter", "type": "boolean"}, "HotButtonIcon": {"type": "string"}, "HotButtonKey": {"type": "string"}}}, "GenericPagedResult_OpenOrder": {"description": "Order item object", "type": "object", "properties": {"PageNumber": {"format": "int32", "description": "Result page number", "type": "integer"}, "EntriesPerPage": {"format": "int32", "description": "Result page size, quantity of records per page", "type": "integer"}, "TotalEntries": {"format": "int64", "description": "Total records", "type": "integer"}, "TotalPages": {"format": "int32", "description": "Total pages", "type": "integer", "readOnly": true}, "Data": {"type": "array", "items": {"$ref": "#/components/schemas/OpenOrder"}}}}, "OpenOrder": {"description": "comment class", "type": "object", "properties": {"NumOrderId": {"format": "int32", "description": "Linnworks order number", "type": "integer"}, "GeneralInfo": {"$ref": "#/components/schemas/OrderGeneralInfo"}, "ShippingInfo": {"$ref": "#/components/schemas/OrderShippingInfo"}, "CustomerInfo": {"$ref": "#/components/schemas/OrderCustomerInfo"}, "TotalsInfo": {"$ref": "#/components/schemas/OrderTotalsInfo"}, "TaxInfo": {"$ref": "#/components/schemas/OrderTaxInfo"}, "FolderName": {"description": "Folder name of an order if any assigned", "type": "array", "items": {"type": "string"}}, "IsPostFilteredOut": {"type": "boolean"}, "CanFulfil": {"type": "boolean"}, "Fulfillment": {"$ref": "#/components/schemas/OrderFulfillmentState"}, "Items": {"type": "array", "items": {"$ref": "#/components/schemas/OrderItem"}}, "HasItems": {"type": "boolean", "readOnly": true}, "TotalItemsSum": {"format": "int32", "type": "integer", "readOnly": true}, "OrderId": {"format": "uuid", "description": "Order ID (pkOrderID)", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}}}, "OrderTaxInfo": {"type": "object", "properties": {"TaxNumber": {"description": "Customer Tax Number", "type": "string"}}}, "OrderFulfillmentState": {"type": "object", "properties": {"FulfillmentState": {"enum": ["Unknown", "Insufficient_Stock", "Insufficient_To_Fulfill_All", "Sufficient_Stock"], "type": "string"}, "PurchaseOrderState": {"enum": ["Insufficient_PO", "Sufficient_PO"], "type": "string"}}}}}}