{"openapi": "3.0.0", "info": {"version": "stock", "title": "Stock API"}, "paths": {"/api/Stock/GetStockItemsFull": {"post": {"tags": ["Stock"], "summary": "GetStockItemsFull", "description": "Used to get inventory information at a basic level\n<b>Rate limit: </b><span style=\"background-color:#0272d9;color:white;padding:4px 8px;text-align:center;border-radius:5px; font-size: small;\"><b>150</b></span> / minute", "operationId": "GetStockItemsFull", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Stock_GetStockItemsFullRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/StockItemFull"}}}, "text/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/StockItemFull"}}}, "application/xml": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/StockItemFull"}}}, "text/xml": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/StockItemFull"}}}}}}, "security": [{"token": ["token"]}]}}}, "servers": [{"url": "https://eu-ext.linnworks.net"}], "components": {"securitySchemes": {"token": {"type": "apiKey", "description": "Authorization Header", "name": "Authorization", "in": "header"}}, "schemas": {"Stock_GetStockItemsFullRequest": {"type": "object", "properties": {"keyword": {"description": "Your seearch term", "type": "string"}, "loadCompositeParents": {"description": "Whether you want to load composite parents or ignore them", "type": "boolean"}, "loadVariationParents": {"description": "Whether you want to load variation parents", "type": "boolean"}, "entriesPerPage": {"format": "int32", "description": "The amount of entries you require. Maximum 200.", "type": "integer"}, "pageNumber": {"format": "int32", "description": "The current page number you are requesting", "type": "integer"}, "dataRequirements": {"description": "The data you require. eg. StockLevels will load the stock levels for each location", "type": "array", "items": {"enum": ["StockLevels", "Pricing", "Supplier", "ShippingInformation", "ChannelTitle", "ChannelDescription", "ChannelPrice", "ExtendedProperties", "Images"], "type": "string"}}, "searchTypes": {"description": "The parameters that you would like to search by", "type": "array", "items": {"enum": ["SKU", "Title", "Barcode"], "type": "string"}}}}, "StockItemFull": {"description": "Stock item with full level and supplier information", "type": "object", "properties": {"Suppliers": {"description": "Suppliers", "type": "array", "items": {"$ref": "#/components/schemas/StockItemSupplierStat"}}, "StockLevels": {"description": "Stock Levels", "type": "array", "items": {"$ref": "#/components/schemas/StockItemLevel"}}, "ItemChannelDescriptions": {"description": "List of item descriptions", "type": "array", "items": {"$ref": "#/components/schemas/StockItemDescription"}, "readOnly": true}, "ItemExtendedProperties": {"description": "List of extended properties", "type": "array", "items": {"$ref": "#/components/schemas/StockItemExtendedProperty"}, "readOnly": true}, "ItemChannelTitles": {"description": "List item titles", "type": "array", "items": {"$ref": "#/components/schemas/StockItemTitle"}, "readOnly": true}, "ItemChannelPrices": {"description": "List of item prices", "type": "array", "items": {"$ref": "#/components/schemas/StockItemPrice"}, "readOnly": true}, "Images": {"description": "Image urls", "type": "array", "items": {"$ref": "#/components/schemas/StockItemImage"}}, "ItemNumber": {"description": "SKU", "type": "string"}, "ItemTitle": {"description": "Item title", "type": "string"}, "BarcodeNumber": {"description": "Barcode number", "type": "string"}, "MetaData": {"description": "Item description", "type": "string"}, "IsVariationParent": {"description": "Is Variation Parent", "type": "boolean"}, "isBatchedStockType": {"description": "Returns true is the stock item is tracked by batch", "type": "boolean", "readOnly": true}, "PurchasePrice": {"format": "double", "description": "Default item purchase price", "type": "number"}, "RetailPrice": {"format": "double", "description": "Default item retail price", "type": "number"}, "TaxRate": {"format": "double", "description": "Default item tax rate. Set -1 to use country tax rate", "type": "number"}, "PostalServiceId": {"format": "uuid", "description": "Default postal service id", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "PostalServiceName": {"description": "Default postal service name", "type": "string"}, "CategoryId": {"format": "uuid", "description": "Default category id", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "CategoryName": {"description": "Default category name", "type": "string"}, "PackageGroupId": {"format": "uuid", "description": "Default package group id", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "PackageGroupName": {"description": "Default package group name", "type": "string"}, "Height": {"format": "double", "description": "Item height", "type": "number"}, "Width": {"format": "double", "description": "Item width", "type": "number"}, "Depth": {"format": "double", "description": "Item depth", "type": "number"}, "Weight": {"format": "double", "description": "Item weight", "type": "number"}, "CreationDate": {"format": "date-time", "description": "Stock item creation date", "type": "string"}, "InventoryTrackingType": {"format": "int32", "description": "Stock item tracking type. 0 = none. 1 = Ordered by Sell by Date. 2 = Ordered by Priority Sequence", "type": "integer"}, "BatchNumberScanRequired": {"description": "User must scan batch number when procesing orders", "type": "boolean"}, "SerialNumberScanRequired": {"description": "User must scan item serial number when processing ordesr", "type": "boolean"}, "StockItemId": {"format": "uuid", "description": "Stock Item Id", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "StockItemIntId": {"format": "int32", "description": "Stock Item interger Id", "type": "integer"}}}, "StockItemSupplierStat": {"type": "object", "properties": {"IsDefault": {"description": "If supplier information is default", "type": "boolean"}, "Supplier": {"description": "Supplier name", "type": "string"}, "SupplierID": {"format": "uuid", "description": "Supplier ID", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "Code": {"description": "Supplier code", "type": "string"}, "SupplierBarcode": {"description": "Supplier barcode", "type": "string"}, "LeadTime": {"format": "int32", "description": "Supplier lead time", "type": "integer"}, "PurchasePrice": {"format": "double", "description": "Supplier purchase price", "type": "number"}, "MinPrice": {"format": "double", "description": "Minimum price", "type": "number"}, "MaxPrice": {"format": "double", "description": "Maximum price", "type": "number"}, "AveragePrice": {"format": "double", "description": "Average price", "type": "number"}, "AverageLeadTime": {"format": "double", "description": "Average lead time", "type": "number"}, "SupplierMinOrderQty": {"format": "int32", "description": "Minimum order quantity from this supplier", "type": "integer"}, "SupplierPackSize": {"format": "int32", "description": "Supplier pack size", "type": "integer"}, "SupplierCurrency": {"description": "Supplier's default currency", "type": "string"}, "StockItemId": {"format": "uuid", "description": "Stock Item Id", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "StockItemIntId": {"format": "int32", "description": "Stock Item interger Id", "type": "integer"}}}, "StockItemLevel": {"type": "object", "properties": {"Location": {"$ref": "#/components/schemas/InventoryStockLocation"}, "StockLevel": {"format": "int32", "description": "Stock level", "type": "integer"}, "StockValue": {"format": "double", "description": "Stock value", "type": "number"}, "MinimumLevel": {"format": "int32", "description": "Minimum level", "type": "integer"}, "InOrderBook": {"format": "int32", "description": "Currently in open orders", "type": "integer"}, "Due": {"format": "int32", "description": "Due to come in purchase orders", "type": "integer"}, "JIT": {"description": "Stock Item Just In Time (JIT) status", "type": "boolean"}, "InOrders": {"format": "int32", "description": "Currently in open orders", "type": "integer", "readOnly": true}, "Available": {"format": "int32", "description": "StockLevel - InOrders", "type": "integer", "readOnly": true}, "UnitCost": {"format": "double", "description": "if( Quantity == 0 )\r\n    dbo.StockItem.PurchasePrice\r\nElse\r\nCurrentStockValue / Quantity", "type": "number", "readOnly": true}, "SKU": {"description": "Product SKU", "type": "string"}, "AutoAdjust": {"description": "If level is auto adjusted", "type": "boolean"}, "LastUpdateDate": {"format": "date-time", "description": "Last time stock level was adjusted", "type": "string"}, "LastUpdateOperation": {"description": "Name of last update operation", "type": "string"}, "rowid": {"format": "uuid", "description": "dbo.StockLevel.rowid", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "PendingUpdate": {"description": "dbo.StockLevel.PendingUpdate", "type": "boolean"}, "StockItemPurchasePrice": {"format": "double", "description": "Stock item purchase price. It's used to calculate UnitCost", "type": "number"}, "StockItemId": {"format": "uuid", "description": "Stock Item Id", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "StockItemIntId": {"format": "int32", "description": "Stock Item interger Id", "type": "integer"}}}, "StockItemDescription": {"type": "object", "properties": {"pkRowId": {"format": "uuid", "description": "Record row ID (generate random GUID)", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "Source": {"description": "ChannelName/Source (e.g. EBAY)", "type": "string"}, "SubSource": {"description": "Channel subsource (e.g EBAY1)", "type": "string"}, "Description": {"description": "Product description", "type": "string"}, "StockItemId": {"format": "uuid", "description": "Stock Item Id", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "StockItemIntId": {"format": "int32", "description": "Stock Item interger Id", "type": "integer"}}}, "StockItemExtendedProperty": {"type": "object", "properties": {"pkRowId": {"format": "uuid", "description": "Record row ID (generate random)", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "fkStockItemId": {"format": "uuid", "description": "Stock Item ID", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "ProperyName": {"description": "Property name", "type": "string"}, "PropertyValue": {"description": "Property value", "type": "string"}, "PropertyType": {"description": "Property type", "type": "string"}}}, "StockItemTitle": {"type": "object", "properties": {"pkRowId": {"format": "uuid", "description": "Record row id (generate random)", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "Source": {"description": "ChannelName/Source (e.g. EBAY)", "type": "string"}, "SubSource": {"description": "SubSource (EBAY1)", "type": "string"}, "Title": {"description": "Item title", "type": "string"}, "StockItemId": {"format": "uuid", "description": "Stock Item Id", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "StockItemIntId": {"format": "int32", "description": "Stock Item interger Id", "type": "integer"}}}, "StockItemPrice": {"type": "object", "properties": {"Rules": {"description": "Pricing rule", "type": "array", "items": {"$ref": "#/components/schemas/StockItemPricingRule"}}, "pkRowId": {"format": "uuid", "description": "Record row ID (generate random)", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "Source": {"description": "ChannelName/Source (e.g. EBAY)", "type": "string"}, "SubSource": {"description": "SubSource (e.g. EBAY1)", "type": "string"}, "Price": {"format": "double", "description": "Channel price", "type": "number"}, "Tag": {"description": "Product price tag", "type": "string"}, "UpdateStatus": {"enum": ["NoChange", "Pending", "SentNotConfirmed", "Success", "Error"], "type": "string"}, "StartDate": {"format": "date-time", "description": "Start of sale for sale prices", "type": "string"}, "EndDate": {"format": "date-time", "description": "End of sale for sale prices", "type": "string"}, "StockItemId": {"format": "uuid", "description": "Stock Item Id", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "StockItemIntId": {"format": "int32", "description": "Stock Item interger Id", "type": "integer"}}}, "StockItemImage": {"description": "Full stock item image record", "type": "object", "properties": {"Source": {"description": "URL to thumnail image", "type": "string"}, "FullSource": {"description": "Url to full size image", "type": "string"}, "CheckSumValue": {"description": "Image check sum", "type": "string"}, "pkRowId": {"format": "uuid", "description": "Unique id of image", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "IsMain": {"description": "Is the image the main image", "type": "boolean"}, "SortOrder": {"format": "int32", "description": "Sort order for the image", "type": "integer"}, "ChecksumValue": {"description": "Internal checksum value", "type": "string"}, "RawChecksum": {"description": "Raw file checksum (Used for UI to determine if the image file is the same before submitting for upload)", "type": "string"}, "StockItemId": {"format": "uuid", "description": "Stock Item Id", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "StockItemIntId": {"format": "int32", "description": "Stock Item interger Id", "type": "integer"}}}, "InventoryStockLocation": {"type": "object", "properties": {"StockLocationId": {"format": "uuid", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "StockLocationIntId": {"format": "int32", "type": "integer"}, "LocationName": {"type": "string"}, "LocationTag": {"type": "string"}, "IsFulfillmentCenter": {"type": "boolean"}, "IsWarehouseManaged": {"type": "boolean"}, "BinRack": {"type": "string"}}}, "StockItemPricingRule": {"type": "object", "properties": {"pkRowId": {"format": "int32", "description": "Record row ID (optional)", "type": "integer"}, "fkStockPricingId": {"format": "uuid", "description": "Stock pricing ID", "type": "string", "example": "00000000-0000-0000-0000-000000000000"}, "Type": {"description": "Type", "type": "string"}, "LowerBound": {"format": "int32", "description": "Lower level", "type": "integer"}, "Value": {"format": "double", "description": "Value/Price level", "type": "number"}}}}}}